* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(205, 205, 205);
}

img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

.msLogo {
    width: 80%;
    height: 80%;
    border-radius: 0;
}

:root {
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --blue: #0000ff;
    --white: #ffffff;
    --shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    --font-family:cursive;
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}

.calendarWidgetCtr {
    box-sizing: border-box;
    .calendar-ctr {
        height: 100vh;
        display: grid;
        place-items: center;
        font-family: var(--font-family);
        //background-color: var(--bg-body);
        .calendar {
            height: max-content;
            width: max-content;
            background-color: var(--bg-main);
            border-radius: 30px;
            padding: 20px;
            position: relative;
            overflow: hidden;
            &, .light {
                box-shadow: var(--shadow);
            }
            .calendar-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 25px;
                font-weight: 600;
                color: var(--color-txt);
                padding: 10px;
                .month-picker {
                    padding: 5px 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    &:hover {
                        background-color: var(--color-hover);
                    }
                }
                .year-picker {
                    display: flex;
                    align-items: center;
                    .year-change {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        display: grid;
                        place-items: center;
                        margin: 0;
                        cursor: pointer;
                        &:hover {
                            background-color: var(--color-hover);
                        }
                    }
                }
            }
            .calendar-body {
                padding: 10px;
                .calendar-week-day {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    font-weight: 600;
                    height: 50px;
                    div {
                        display: grid;
                        place-items: center;
                        color: var(--bg-second);
                    }
                }
                .calendar-days {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    gap: 2px;
                    color: var(--color-txt);
                    div {
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                        position: relative;
                        cursor: pointer;
                        animation: to-top 1s forwards;
                        &:hover {
                            span {
                                transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
                            }
                        }
                        &:hover {
                            span:nth-child(1),
                            span:nth-child(3) {
                                height: 100%;
                            }
                            span:nth-child(2),
                            span:nth-child(4) {
                                width: 100%;
                            }
                            span:nth-child(2) {
                                transition-delay: 0.1s;
                            }
                            span:nth-child(3) {
                                transition-delay: 0.2s;
                            }
                            span:nth-child(4) {
                                transition-delay: 0.3s;
                            }
                        }
                        span {
                            position: absolute;
                            &:nth-child(1) {
                                bottom: 0;
                                left: 0;
                            }
                            &:nth-child(2) {
                                top: 0;
                                left: 0;
                            }
                            &:nth-child(3) {
                                top: 0;
                                right: 0;
                            }
                            &:nth-child(4) {
                                bottom: 0;
                                right: 0;
                            }
                            &:nth-child(1),
                            &:nth-child(3){
                                width: 2px;
                                height: 0;
                                background-color: var(--color-txt);
                            }
                            &:nth-child(2),
                            &:nth-child(4) {
                                width: 0;
                                height: 2px;
                                background-color: var(--color-txt);
                            }
                        }
                        &.curr-date {
                            background-color: var(--blue);
                            color: var(--white);
                            border-radius: 50%;
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
            .month-list {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: var(--bg-main);
                padding: 20px;
                color: var(--color-txt);
                display: grid;
                grid-template-columns: repeat(3, auto);
                gap: 5px;
                transform: scale(1.5);
                visibility: hidden;
                pointer-events: none;
                &.show {
                    transform: scale(1);
                    visibility: visible;
                    pointer-events: visible;
                    transition: all 0.2s ease-in-out;
                }
                div {
                    display: grid;
                    place-items: center;
                    div {
                        width: 100%;
                        padding: 5px 20px;
                        border-radius: 10px;
                        cursor: pointer;
                        &:hover {
                            background-color: var(--color-hover);
                        }
                    }
                }
            }
        }
    }
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}