* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
}

a {
    color: rgb(59, 126, 50);
    cursor: pointer;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
    }
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    /* Add a hover effect for buttons */
    &:hover {
        opacity: 0.8;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    .s1-container {
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
        .s1 {
            margin-bottom: 60px;
            width: 100%;
            min-width: 437px;
            max-width: 760px;
            box-sizing: border-box;
            .hn-container {
                line-height: 84px;
                letter-spacing: -1.2px;
                font-size: 32px;
                font-weight: 700;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                overflow-wrap: break-word;
                color: rgb(0, 0, 0);
                box-sizing: border-box;
                display: inline;
                white-space: pre-wrap;
            }
            .sign-up-container {
                display: flex;
                flex-direction: column;
                form {
                    border: 3px solid #f1f1f1;
                    /* Center the avatar image inside this container */
                    .imgcontainer {
                        text-align: center;
                        margin: 24px 0 12px 0;
                        padding: 16px;

                        /* Avatar image */
                        img.avatar {
                            width: 10%;
                            height: 10%;
                            border-radius: 50%;
                        }
                    }
                    .upcontainer {
                        padding: 16px;

                        /* Full-width inputs */
                        input[type=text],
                        input[type=password] {
                            width: 100%;
                            padding: 12px 20px;
                            margin: 8px 0;
                            display: inline-block;
                            border: 1px solid #ccc;
                            box-sizing: border-box;
                        }
                    }
                    .frgtpswcontainer {
                        padding: 16px;
                        /* Extra style for the cancel button (red) */
                        .cancelbtn {
                            width: auto;
                            padding: 10px 18px;
                            background-color: #f44336;
                        }
                        /* The "Forgot password" text */
                        span.psw {
                            float: right;
                            padding-top: 16px;
                        }
                        a {
                            color: rgb(35, 123, 255);
                        }
                    }
                }
                .sign-toggle {
                    margin-top: 10px;
                    line-height: 20px;
                    font-weight: 400;
                    font-size: 15px;
                    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                    color: rgb(56, 55, 55);
                }
            }
        }
    }
    .s2-container {
        background-image: url(../img/LoginLogo.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: rgb(0, 111, 214);
        width: 52%;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
        .s2 {
            img {
                inset: 0px;
                height: 100%;
                opacity: 0;
                position: absolute;
                width: 100%;
                z-index: -1;
            }
        }
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}