* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(205, 205, 205);
}

img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

.msLogo {
    width: 80%;
    height: 80%;
    border-radius: 0;
}

:root {
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --blue: #0000ff;
    --white: #ffffff;
    --shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    --font-family:cursive;
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}